<h1>Editing Release</h1>

<%= render 'form' %>

<%= link_to 'Show', @release %> |
<%= link_to 'Back', releases_path %>
<br>
<br>
<%= link_to 'Destroy', @release, method: :delete, data: { confirm: 'Are you sure?' } %>
